.mainContainer {
  display: flex;
  padding: 30px;
}

.cardContainer {
  display: flex;
}
.headingtwo {
  color: #1ed760;
  font-family: "Raleway-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 200;
  margin-top: -25px;
  text-decoration: none;
}
