.cardContainer {
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

.headingtwo {
  color: #1ed760;
  font-family: "Raleway-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 200;
  margin-top: -25px;
  text-decoration: none;
}
