/* .card {
  width: 90%;
  background-color: #242424;
  border-radius: 20px;
  margin-top: -10%;
}
.card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
} */

/* .mainContainer {
  background: red;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 50px;
} */

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
