.container {
  display: flex;
  width: 80%;
  background-color: #2d2d2d;
  padding: 10px;
  border-radius: 25px;
  margin-top: 40px;
  position: relative;
  left: 10%;
}
.input {
  color: white !important;
  font-family: "Raleway-Medium", Helvetica;
  width: 100%;
}
.icon {
  margin-right: 10px;
  margin-top: 5px;
  color: white;
}
